.filter-sidebar {
  display: none;
  width: 250px;
  padding: 20px;
  background-color: #fff;
  border-right: 1px solid #e0e0e0;
}

.mobile-filter-button {
  display: block;
  background-color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  float: right;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.clear-all {
  background: none;
  border: none;
  color: #090909;
  cursor: pointer;
  margin-bottom: 20px;
}

.filter-section {
  margin-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.sort {
  color: #000;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
}

.section-header h3 {
  margin: 0;
  font-size: 16px;
}

.section-content {
  padding: 10px 0;
}

.section-content label {
  display: block;
  margin-bottom: 10px;
}

.section-content input[type="radio"] {
  margin-right: 10px;
}

.apply-filters {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .filter-sidebar {
    display: block;
    
  }

  .mobile-filter-button {
    display: none;
  }
}